/***********************/
.message
{
	z-index: 9999;
           position: fixed;
    border: 1px solid;
    border-radius: 3px;
    clear: both;


     padding: 15px;
    padding-left: 30px;
  _position: absolute;
    /* The inset shadow */
    -webkit-box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.65);
    -moz-box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.65);
    box-shadow: inset 1px 1px 0px 0px rgba(255, 255, 255, 0.65);

         width: 100%;
         border: 1px solid;
         color: #fff;

         display:none;
}



.success-mess
{
    display: none;
	border: none;
   background-color: #FF9400;
    border-color: #fff;
    color: #7C6A6A;
}

.message h3
{
         margin: 0 0 5px 0;
}

.message p
{
         margin: 0;
}
.message span.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 7px;
    top: 50%;
    margin-top: -8px;

}


.message.success span.icon {
    background: url(success.png);
}


.message.error span.icon {
    background: url(error.png);
}

.message.warning span.icon {
    background: url(warning.png);
}

.message.info span.icon {
    background: url(info.png);
}

.success-mess .success-message{
    display: block;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

@-webkit-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}


@-moz-keyframes animate-bg
{
    from {
        background-position: 0 0;
    }
    to {
       background-position: -80px 0;
    }
}