html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body {
    min-width: 1300px; min-height: 100%;
}
body {
    position: relative; background: #f5f5f5; font-family: 'Open Sans', sans-serif; font-size: 14px; line-height: 26px; color: #000; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;
}
* {
    outline: none; max-height: 999999px;
}
img {
    border: none; vertical-align: top;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: ''; content: none;
}
table {
    border-collapse: collapse; border-spacing: 0;
}
input, textarea, select, button {
    font-family: 'Open Sans', sans-serif;
}
button::-moz-focus-inner {
    padding: 0; border: 0;
}
button {
    *overflow: visible;
}
label {
    cursor: pointer;
}
a {
    color: #0d40bf; text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

H1, H2, H3, H4, H5 {
    margin: 0; padding: 0; line-height: 1;
}
H1 {
    font-size: 36px; font-weight: 800;
}
H2 {
    font-size: 29px; font-weight: 800;
}

input[type='text'], input[type='password'], textarea {
    vertical-align: top; box-sizing: border-box; border: 1px solid #e4e4e4; font-size: 14px;
}
input[type='text'], input[type='password'] {
    padding: 0 15px; height: 40px;
}
textarea {
    padding: 10px 15px; overflow: auto; resize: none;
}

button {
    background: url(../img/bt.png) no-repeat; cursor: pointer; padding: 0; border: 0; width: 225px; height: 42px; font-size: 14px; font-weight: 800; color: #fff; text-transform: uppercase;
}

a.button {
    display: inline-block; vertical-align: top; background: url(../img/bt.png) no-repeat; width: 225px; height: 42px; line-height: 42px; 
    font-weight: 800; color: #fff; text-decoration: none; text-transform: uppercase; text-align: center;
}

p {
    padding: 15px 0 0;
}

ul {
    
}
ul li {
    position: relative; padding-left: 24px; margin-top: 15px;
}
ul li:first-child {
    margin-top: 0px;
}
ul li:after {
    display: block; content: ''; position: absolute; left: 0px; top: 9px; width: 8px; height: 8px; background: #000; border-radius: 100%;
}
ol {
    list-style-type: none; counter-reset: ol-counter; line-height: normal;
}
ol li {
    position: relative; padding-left: 0px; margin-top: 15px;
}
ol li:first-child {
    margin-top: 0px;
}
ol li:before {
    content: counter(ol-counter)'. '; counter-increment: ol-counter; font-size: 21px; font-weight: 800;
}

table {
    border: 0; *border-collapse: collapse; border-spacing: 0; width: 100%; box-shadow: 0 8px 54px rgba(0,0,1,.08); line-height: normal;
}
table th {
    background: #dadbde; padding: 0px 30px; height: 74px; vertical-align: middle; font-weight: 800; text-align: left; color: #fff;
}
table th:first-child {
    padding-left: 35px;
}
table td {
    padding: 20px 30px;
}
table td:first-child {
    background: #dadbde; padding-left: 35px; font-weight: 800; color: #fff;
}