/* site style
------------------------------------------------ */
.viewport-wrapper {
	position: relative; min-width: 1300px; overflow: hidden; background-image: url(../img/header-catalog-bg.png); background-position: center 90px; background-repeat: no-repeat;
}

.clear_fix {
	clear: both; display: block; height: 0;
}
.hidden {
	display: none;
}
.wrapper {
	position: relative; width: 1300px; margin: 0 auto;
}

.jq-checkbox {
	position: relative; cursor: pointer; vertical-align: baseline; top: 3px;
}
.jq-checkbox {
	background: #fff; width: 18px; height: 18px; border: 1px solid #e4e4e4;
}
.jq-checkbox.checked {
	background: #586aed; border-color: #586aed;
}
.jq-checkbox.checked span {
	display: block; background: url(../img/sprite.png) -240px 0 no-repeat; width: 51px; height: 45px; position: absolute; right: -21px; top: -16px;
}

.breadcrumbs {
	padding: 20px 0 10px; color: #d9d9d9; line-height: 1;
}
.breadcrumbs a {
	color: #234db8;
}

.static-head {
	padding: 0 40px;
}

.static-content {
	background: #fff; padding: 20px 40px 50px; margin: 25px 10px 0; box-shadow: 13px 9px 18px rgba(0,0,1,.04);
}

.navpage {
	padding-top: 47px; font-weight: 800; text-align: center;
}
.navpage ul {
	
}
.navpage li {
	display: inline-block; vertical-align: top; margin: 0; padding: 0;
}
.navpage li:after {
	display: none;
}
.navpage li a {
	display: block; padding: 0 13px; height: 36px; line-height: 36px; color: #000; text-decoration: none;
}
.navpage li a:hover {
	background: #3a6fe8; color: #fff;
}
.navpage li.selected a {
	background: #d3d7de; color: #fff;
}
.navpage li.prev a, 
.navpage li.next a {
	margin: 0 40px; width: 79px; padding: 0; background: url(../img/navpage-bg.png); font-size: 12px; text-transform: uppercase; color: #fff;
}
.navpage li.prev a:before, 
.navpage li.next a:after {
	position: relative; top: 1px; margin-right: 8px; content: ''; display: inline-block; vertical-align: baseline; background: url(../img/sprite.png) -210px 0 no-repeat; width: 7px; height: 10px;
}
.navpage li.next a:after {
	margin: 0 0 0 8px; background-position: -220px 0;
}
.navpage li.prev a:hover, 
.navpage li.next a:hover {
	background: #3a6fe8;
}

.ui-slider {
	position: relative;
}
.ui-slider .ui-slider-handle {
	position: absolute; z-index: 2; cursor: pointer; 
}
.ui-slider .ui-slider-range {
	position: absolute; z-index: 1; display: block;
}
.ui-slider.ui-state-disabled .ui-slider-handle, .ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}
/* end site style */


/* header
------------------------------------------------ */
.site-header {
	position: relative; min-width: 1300px; height: 150px; z-index: 50;
}
.site-header .top {
	background: #fff; min-width: 1300px; height: 90px;
}
.site-header .logo {
	float: left; padding: 19px 0 0 10px; width: 175px;
}
.site-header .menu {
	float: left; padding-top: 28px; font-size: 12px; text-transform: uppercase;
}
.site-header .menu:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.site-header .menu li {
	float: left; margin: 0; padding: 0;
}
.site-header .menu li:after {
	display: none;
}
.site-header .menu li:first-child {
	margin-left: 0;
}
.site-header .menu li a {
	display: block; padding: 0 15px; height: 36px; line-height: 36px; color: #000; text-decoration: none; 
	-webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
    	 -o-transition: all .2s linear;
    		transition: all .2s linear;
}
.site-header .menu li a:hover {
	background-color: #3a6fe8; color: #fff; 
	background-image: -webkit-linear-gradient(45deg, #7165f2, #3a6fe8);
	background-image: -moz-linear-gradient(45deg, #7165f2, #3a6fe8);
	background-image: -o-linear-gradient(45deg, #7165f2, #3a6fe8);
	background-image: -ms-linear-gradient(45deg, #7165f2, #3a6fe8);
	background-image: linear-gradient(45deg, #7165f2, #3a6fe8);
}
.site-header .r {
	float: right;
}
.site-header .phone {
	float: left; width: 154px; font-size: 16px; font-weight: 300; line-height: 90px;
}
.site-header .phone a {
	color: #000;
}
.site-header .phone a span {
	font-weight: 800;
}
.site-header .login {
	float: left; padding-top: 28px; font-size: 12px; text-transform: uppercase; font-weight: 800;
}
.site-header .login a {
	position: relative; display: block; padding: 0 10px; height: 36px; line-height: 36px; color: #000; text-align: center; text-decoration: none; 
	-webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
    	 -o-transition: all .2s linear;
    		transition: all .2s linear;
}
.site-header .login a:before {
	position: relative; top: 3px; margin-right: 7px; display: inline-block; vertical-align: baseline; content: ''; background: url(../img/sprite.png) no-repeat; width: 12px; height: 19px;
}
.site-header .login a:hover {
	background-color: #3a6fe8; color: #fff; 
	background-image: -webkit-linear-gradient(45deg, #7165f2, #3a6fe8);
	background-image: -moz-linear-gradient(45deg, #7165f2, #3a6fe8);
	background-image: -o-linear-gradient(45deg, #7165f2, #3a6fe8);
	background-image: -ms-linear-gradient(45deg, #7165f2, #3a6fe8);
	background-image: linear-gradient(45deg, #7165f2, #3a6fe8);
}
.site-header .cart {
	float: left; margin: 28px 0 0 0; font-size: 12px; text-transform: uppercase; font-weight: 800;
}
.site-header .cart a {
	position: relative; display: block; padding: 0 10px; height: 36px; line-height: 36px; color: #000; text-align: center; text-decoration: none; 
	-webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
    	 -o-transition: all .2s linear;
    		transition: all .2s linear;
}
.site-header .cart a:before {
	position: relative; top: 5px; margin-right: 5px; display: inline-block; vertical-align: baseline; content: ''; background: url(../img/sprite.png) -25px 0 no-repeat; width: 22px; height: 20px;
}
.site-header .cart a:hover {
	background-color: #3a6fe8; color: #fff; 
	background-image: -webkit-linear-gradient(45deg, #7165f2, #3a6fe8);
	background-image: -moz-linear-gradient(45deg, #7165f2, #3a6fe8);
	background-image: -o-linear-gradient(45deg, #7165f2, #3a6fe8);
	background-image: -ms-linear-gradient(45deg, #7165f2, #3a6fe8);
	background-image: linear-gradient(45deg, #7165f2, #3a6fe8);
}
.site-header .catalog {
	position: relative;
}
.site-header .catalog > ul {
	padding: 0 10px;
}
.site-header .catalog > ul:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.site-header .catalog > ul > li {
	position: static; float: left; margin: 0; padding: 0;
}
.site-header .catalog > ul > li:after {
	display: none;
}
.site-header .catalog > ul > li > a {
	position: relative; display: block; padding: 0 30px; height: 60px; line-height: 60px; font-size: 15px; font-weight: 800; text-decoration: none; color: #fff; text-transform: uppercase; 
	-webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
    	 -o-transition: all .2s linear;
    		transition: all .2s linear;
}
.site-header .catalog > ul > li > a:after {
	display: block; content: ''; width: 26px; height: 2px; background: #fff; position: absolute; left: 30px; bottom: 18px;
}
.site-header .catalog > ul > li > a span {
	position: relative; top: 1px; display: inline-block; vertical-align: baseline; font-size: 18px;
}
.site-header .catalog > ul > li:hover > a, 
.site-header .catalog > ul > li.active > a {
	background: #2c3035;
}
.site-header .catalog > ul > li ul {
	display: none; position: absolute; width: 1390px; height: 370px; background: url(../img/header-catalog-in-bg.png) no-repeat; padding: 58px 35px 0; top: 100%; left: 50%; margin-left: -695px; box-sizing: border-box;
}
.site-header .catalog > ul > li ul:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.site-header .catalog > ul > li li {
	position: relative; width: 440px; float: left; margin: 0; padding: 0;
}
.site-header .catalog > ul > li li:after {
	display: none;
}
.site-header .catalog > ul > li li a {
	display: block;
}
.site-header .catalog > ul > li li .entry {
	display: block; background: url(../img/prod-coll-bg.png) no-repeat; width: 420px; height: 64px; line-height: 64px; position: absolute; left: 50%; margin-left: -210px; top: 194px; text-decoration: none; color: #fff;
}
.site-header .catalog > ul > li li.type-2 .entry {
	background-position: 0 -64px;
}
.site-header .catalog > ul > li li.type-3 .entry {
	background-position: 0 -128px;
}
.site-header .catalog > ul > li li .title {
	display: block; padding-left: 24px; font-size: 24px; font-weight: 800;
}
.site-header .catalog > ul > li li .in {
	display: block; position: absolute; right: 26px; top: 0px; padding-right: 14px; font-weight: 300; text-transform: uppercase;
}
.site-header .catalog > ul > li li .in:after {
	display: block; content: ''; background: url(../img/sprite.png) -60px 0 no-repeat; width: 7px; height: 12px; position: absolute; right: 0px; top: 50%; margin-top: -6px; 
	-webkit-transition: right .2s linear;
       -moz-transition: right .2s linear;
    	 -o-transition: right .2s linear;
    		transition: right .2s linear;
}
.site-header .catalog > ul > li li a:hover .in:after {
	right: -5px;
}
.site-header .catalog > ul > li li .in span {
	position: relative; left: 0; 
	-webkit-transition: left .2s linear;
       -moz-transition: left .2s linear;
    	 -o-transition: left .2s linear;
    		transition: left .2s linear;
}
.site-header .catalog > ul > li li a:hover .in span {
	left: -5px;
}
/* end header */


.site-body {
	background: #f5f5f5; min-width: 1300px;
}
.site-body.wrapper {
	min-width: 0;
}


/* slider
------------------------------------------------ */
.slider-promo {
	
}
.slider-promo .inner {
	position: relative; overflow: hidden; background-color: #fff; height: 350px; box-shadow: 0 6px 62px 8px rgba(0,0,1,.16)
}
.slider-promo ul {
	position: relative;
}
.slider-promo ul:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.slider-promo li {
	float: left; width: 100%; height: 350px; margin: 0; padding: 0;
}
.slider-promo li:after {
	display: none;
}
.slider-promo li .bg {
	position: absolute; right: 0; top: 0;
}
.slider-promo li .entry {
	position: relative; width: 500px; text-align: center;
}
.slider-promo li .text {
	padding-top: 90px; font-size: 18px; font-weight: 300; color: #030303; text-transform: uppercase; line-height: 1;
}
.slider-promo li .title {
	padding-top: 10px; font-size: 64px; font-weight: 800; color: #030303; text-transform: uppercase; line-height: 1;
}
.slider-promo li .bt {
	padding-top: 40px;
}
.slider-promo li .bt a {
	display: inline-block; vertical-align: top; background: url(../img/slider-promo-bt.png) no-repeat; width: 178px; height: 42px; line-height: 42px; 
	font-weight: 800; color: #fff; text-align: center; text-transform: uppercase; text-decoration: none;
}
.slider-promo .arr-l, 
.slider-promo .arr-r {
	background: url(../img/slider-promo-arr.jpg) no-repeat; width: 99px; height: 42px; z-index: 5; cursor: pointer; position: absolute; left: -46px; top: 50%; margin-top: -21px; 
	box-shadow: 0 6px 62px 8px rgba(0,0,1,.16);
}
.slider-promo .arr-r {
	background-position: -0px -42px; left: auto; right: -46px;
}
.slider-promo .page {
	position: absolute; left: 0; right: 0; top: 100%; margin-top: 12px; height: 4px; text-align: center;
}
.slider-promo .page a {
	display: inline-block; vertical-align: top; background: #c3c3c3; width: 42px; height: 2px; margin: 0 8px;
}
.slider-promo .page a.selected {
	background: #30344b; height: 4px;
}
.slider-promo .page a * {
	display: none;
}

@media screen and (max-width:1317px){
	
	.slider-promo .arr-l {left: 0}
	.slider-promo .arr-r {right: 0}
}
/* end slider */


/* product
------------------------------------------------ */
.product-coll {
	margin-top: 55px; padding: 0; width: 1320px;
}
.product-coll .subtitle {
	font-size: 30px; font-weight: 300; text-align: center; line-height: 1;
}
.product-coll ul {
	position: relative; margin-top: 30px;
}
.product-coll ul:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.product-coll li {
	position: relative; width: 440px; float: left; margin: 0; padding: 0;
}
.product-coll li:after {
	display: none;
}
.product-coll li a {
	display: block;
}
.product-coll li .entry {
	display: block; background: url(../img/prod-coll-bg.png) no-repeat; width: 420px; height: 64px; line-height: 64px; position: absolute; left: 50%; margin-left: -210px; top: 194px; text-decoration: none; color: #fff;
}
.product-coll li.type-2 .entry {
	background-position: 0 -64px;
}
.product-coll li.type-3 .entry {
	background-position: 0 -128px;
}
.product-coll li .title {
	display: block; padding-left: 24px; font-size: 24px; font-weight: 800;
}
.product-coll li .in {
	display: block; position: absolute; right: 26px; top: 0px; padding-right: 14px; font-weight: 300; text-transform: uppercase;
}
.product-coll li .in:after {
	display: block; content: ''; background: url(../img/sprite.png) -60px 0 no-repeat; width: 7px; height: 12px; position: absolute; right: 0px; top: 50%; margin-top: -6px; 
	-webkit-transition: right .2s linear;
       -moz-transition: right .2s linear;
    	 -o-transition: right .2s linear;
    		transition: right .2s linear;
}
.product-coll li a:hover .in:after {
	right: -5px;
}
.product-coll li .in span {
	position: relative; left: 0; 
	-webkit-transition: left .2s linear;
       -moz-transition: left .2s linear;
    	 -o-transition: left .2s linear;
    		transition: left .2s linear;
}
.product-coll li a:hover .in span {
	left: -5px;
}

ul.product-list {

}
ul.product-list li {
	position: relative; display: inline-block; vertical-align: top; width: 280px; margin: 0; padding: 0;
}
ul.product-list li:after {
	display: none;
}
ul.product-list li a {
	display: block; color: #000; text-decoration: none; line-height: 1; text-transform: uppercase;
}
ul.product-list li a > span {
	display: block;
}
ul.product-list li .img {
	position: relative; height: 196px;
}
ul.product-list li .img span {
	position: relative; display: block; background: #fff; border-radius: 5px 5px 0 0; height: 230px; overflow: hidden; box-shadow: 0 5px 65px rgba(0,0,1,.1);
}
ul.product-list li .img span img {
	
}
ul.product-list li .entry {
	position: relative; margin: auto; box-sizing: border-box; width: 220px; height: 130px; padding: 0 15px; background: #fff; box-shadow: 0 1px 62px rgba(0,0,1,.08); 
	-webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
    	 -o-transition: all .2s linear;
    		transition: all .2s linear;
}
ul.product-list li a:hover .entry {
	background: #4070e9; color: #fff;
}
ul.product-list li .id {
	padding-top: 12px; display: block; font-size: 11px; color: #bebebe; font-weight: 300;
}
ul.product-list li a:hover .id {
	color: #fff;
}
ul.product-list li .text {
	padding-top: 10px; display: block; font-weight: 300;
}
ul.product-list li .title {
	display: block; font-weight: 800;
}
ul.product-list li .price {
	padding-top: 20px; display: block; font-size: 24px; font-weight: 800; text-transform: uppercase;
}
ul.product-list li .price span {
	font-weight: 300; font-size: 20px;
}
ul.product-list li .discount {
	position: absolute; right: 0px; top: 20px; background: url(../img/sprite.png) -80px 0 no-repeat; width: 60px; height: 29px; line-height: 29px; 
	font-size: 16px; font-weight: 700; color: #fff; text-align: center;
}

.product-promo {
	padding-top: 40px;
}
.product-promo .tab {
	position: relative; height: 53px; font-size: 30px; font-weight: 300;
}
.product-promo .tab a {
	display: block; float: left; margin-left: 15px; padding: 0 25px; height: 53px; line-height: 53px; color: #234db8; text-decoration: none;
}
.product-promo .tab a:first-child {
	margin-left: 0;
}
.product-promo .tab a.active {
	background: #fff; box-shadow: 0 6px 21px 3px rgba(0,0,1,.04); color: #000;
}
.product-promo ul {
	padding-top: 33px;
}
.product-promo ul li {
	margin: 0 60px 0 0;
}
.product-promo ul li:nth-child(4n+4) {
	margin-right: 0;
}

.product-filter {
	position: relative; height: 175px;
}
.product-filter .box {
	position: absolute; left: -0px; right: -0px; bottom: 0; height: 70px; border-bottom: 1px solid #dfdfdf; border-top: 1px solid #dfdfdf;
}
.product-filter .title {
	position: absolute; bottom: 100%; right: 38px; background: #f5f5f5; padding: 0 44px 0 34px; border: 1px solid #dfdfdf; border-bottom: 0; height: 70px; line-height: 70px; 
	font-size: 24px; font-weight: 300;
}
.product-filter .title:before {
	content: ''; position: relative; display: inline-block; vertical-align: baseline; background: url(../img/sprite.png) -504px 0 no-repeat; width: 19px; height: 16px;
}
.product-filter .price {
	float: left; padding-left: 55px;
}
.product-filter .price > div {
	display: table-cell; vertical-align: middle; height: 70px;
}
.product-filter .price .text {
	width: 104px; font-size: 20px; font-weight: 800; text-transform: uppercase; line-height: 1;
}
.product-filter .price .field {
	
}
.product-filter .price .field input[type=text] {
	padding: 0 10px; width: 63px; height: 23px; border: 0; box-shadow: 0 0 18px rgba(0,0,1,.02); border-radius: 2px; font-size: 12px; font-weight: 300;
}
.product-filter .price .slider {
	width: 280px; padding: 0 12px;
}
.product-filter .price .slider .inner {
	position: relative; margin: 0 6.5px;
}
.product-filter .price .slider .inner:before, 
.product-filter .price .slider .inner:after {
	display: block; content: ''; width: 10px; height: 10px; background: #cdcdcd; border-radius: 100%; position: absolute; left: -6.5px; top: -3px;
}
.product-filter .price .slider .inner:after {
	left: auto; right: -6.5px;
}
.product-filter .reset {
	float: left; margin: 18px 0 0 36px;
}
.product-filter .reset button {
	background-position: 0 -215px; width: 121px; height: 32px; font-size: 12px;
}
.product-filter .reset button:hover {
	background: #3a6fe8;
}
.product-filter .save {
	float: right; margin: 13px 51px 0 0;
}
.product-filter .save button {
	background-position: 0 -42px; width: 178px;
}
.product-filter .ui-slider-horizontal {
	background: #cdcdcd; height: 4px;
}
.product-filter .ui-slider-range {
	position: absolute; top: -1px; height: 6px; background: #3a6fe8;
}
.product-filter .ui-slider-handle {
	top: -4px; margin: 0 0 0 -6.5px; background: #fff; width: 13px; height: 13px; border-radius: 100%; box-shadow: 0 0 18px rgba(0,0,1,.02);
}

.product-catalog {

}
.product-catalog ul {
	
}
.product-catalog ul li {
	margin: 60px 60px 0 0;
}
.product-catalog ul li:first-child, 
.product-catalog ul li:first-child + li, 
.product-catalog ul li:first-child + li + li, 
.product-catalog ul li:first-child + li + li + li {
	margin-top: 34px;
}
.product-catalog ul li:nth-child(4n+4) {
	margin-right: 0;
}
.product-catalog .more {
	padding-top: 65px; text-align: center;
}
.product-catalog .more a {
	background-position: 0 -42px; width: 178px;
}

.catalog-coll {
	min-width: 1300px;
}

.catalog-coll-slider {
	height: 335px;
}
.catalog-coll-slider .inner {
	position: relative; width: 1268px; overflow: hidden; margin-left: 10px;
}
.catalog-coll-slider ul {
	position: relative; width: 99999px;
}
.catalog-coll-slider ul:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.catalog-coll-slider li {
	width: 1268px; float: left; margin: 0; padding: 0;
}
.catalog-coll-slider li:after {
	display: none;
}
.catalog-coll-slider .arr-l, 
.catalog-coll-slider .arr-r {
	background: url(../img/slider-promo-arr.jpg) no-repeat; width: 99px; height: 42px; cursor: pointer; position: absolute; left: -30px; top: 50%; margin-top: -21px; z-index: 5;
}
.catalog-coll-slider .arr-l:hover {
	
}
.catalog-coll-slider .arr-r {
	background-position: -0px -42px; left: auto; right: -30px;
}
.catalog-coll-slider .arr-r:hover {
	
}
.catalog-coll-slider .page {
	position: absolute; left: 0; right: 0; bottom: 13px; height: 4px; z-index: 5; text-align: center;
}
.catalog-coll-slider .page a {
	display: inline-block; vertical-align: top; background: #c1c1c1; width: 42px; height: 2px; margin: 0 8px;
}
.catalog-coll-slider .page a.selected {
	background: #2f344b; height: 4px;
}
.catalog-coll-slider .page a * {
	display: none;
}

@media screen and (max-width:1317px){
	
	.catalog-coll-slider .arr-l {left: 0}
	.catalog-coll-slider .arr-r {right: 0}
}

.catalog-coll-info {

}
.catalog-coll-info .inner {
	position: relative; background: #fff; padding: 0 0 35px 60px; margin: 0 40px; box-shadow: 0 5px 65px rgba(0,0,1,.05);
}
.catalog-coll-info .inner:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.catalog-coll-info .basic {
	padding: 35px 0 0; width: 660px; float: left;
}
.catalog-coll-info .text {
	padding-top: 15px; font-weight: 300;
}
.catalog-coll-info .list {
	float: right; width: 235px; margin: 30px 95px 0 0; padding-left: 80px; border-left: 1px solid #ededed; line-height: normal;
}
.catalog-coll-info .item {
	padding-top: 15px;
}
.catalog-coll-info .item:first-child {
	padding-top: 0;
}
.catalog-coll-info .level {
	font-weight: 800;
}
.catalog-coll-info .value {
	font-weight: 300;
}

.catalog-coll .product-filter {
	margin-top: 138px; height: auto;
}
.catalog-coll .product-filter .box {
	position: relative; left: auto; right: auto; bottom: auto; background: #f3f3f3;
}
.catalog-coll .product-filter .title {
	background: #f3f3f3; width: 178px; height: 56px; line-height: 56px; padding: 0; right: 0px; text-align: center;
}
.catalog-coll .product-filter .price {
	padding-left: 15px;
}
.catalog-coll .product-filter .save {
	margin-right: 0;
}
.catalog-coll .product-filter .tab {
	position: absolute; left: 0px; bottom: 100%; margin-bottom: 11px; height: 44px; font-size: 24px; font-weight: 300;
}
.catalog-coll .product-filter .tab a {
	display: block; float: left; margin-left: 20px; padding: 0 15px; height: 44px; line-height: 44px; color: #000; text-decoration: none;
}
.catalog-coll .product-filter .tab a:first-child {
	margin-left: 0;
}
.catalog-coll .product-filter .tab a:hover {
	background: url(../img/bt.png) center -300px no-repeat; color: #fff;
}
.catalog-coll .product-filter .tab a.active {
	background: #fff; box-shadow: 0 6px 21px 3px rgba(0,0,1,.04); color: #000;
}

.product-detail {
	position: relative;
}
.product-detail:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.product-detail .img {
	position: relative; width: 630px; float: left; margin: 25px 0 0 40px;
}
.product-detail .preview {
	width: 107px; float: left;
}
.product-detail .preview .inner {
	position: relative;
}
.product-detail .preview ul {
	position: relative;
}
.product-detail .preview ul li {
	margin: 15px 0 0; padding: 0; cursor: pointer; background: #fff; height: 87px;
}
.product-detail .preview ul li:after {
	display: none;
}
.product-detail .preview ul li span {
	position: relative; display: block;
}
.product-detail .preview ul li.active span:after {
	display: block; content: ''; position: absolute; left: 0; right: 0; top: 0; bottom: 0; border: 1px solid #d8d7d7;
}
.product-detail .preview ul li img {
	max-width: 107px;
}
.product-detail .preview .arr-l, 
.product-detail .preview .arr-r {
	position: relative; margin: auto; width: 105px; height: 26px; background: url(../img/sprite.png) -535px 0 no-repeat; cursor: pointer;
}
.product-detail .preview .arr-l:hover {
	background-position: -690px -0px;
}
.product-detail .preview .arr-r {
	background-position: -535px -26px; margin-top: 15px;
}
.product-detail .preview .arr-r:hover {
	background-position: -690px -26px;
}
.product-detail .big {
	position: relative; width: 450px; float: right; background: #fff;
}
.product-detail .big .inner {
	position: relative; width: 450px; overflow: hidden;
}
.product-detail .big ul {
	position: relative; width: 999999px;
}
.product-detail .big ul:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.product-detail .big li {
	position: relative; margin: 0; padding: 0; width: 450px; float: left;
}
.product-detail .big li:after {
	display: none;
}
.product-detail .big li img {
	max-width: 450px;
}
.product-detail .big .arr-l, 
.product-detail .big .arr-r {
	background: url(../img/prod-detail-big-arr.png) no-repeat; width: 79px; height: 37px; cursor: pointer; position: absolute; left: -47px; top: 50%; margin-top: -18.5px; z-index: 5; box-shadow: 0 6px 62px 8px rgba(0,0,1,.16);
}
.product-detail .big .arr-l:hover {
	background-position: -0px -37px;
}
.product-detail .big .arr-r {
	left: auto; right: -47px; background-position: -79px 0;
}
.product-detail .big .arr-r:hover {
	background-position: -79px -37px;
}
.product-detail .discount {
	position: absolute; right: 0px; top: 34px; background: url(../img/sprite.png) -80px 0 no-repeat; width: 60px; height: 29px; line-height: 29px; 
	font-size: 16px; font-weight: 700; color: #fff; text-align: center;
}
.product-detail .entry {
	width: 520px; padding: 0 0 26px 26px; box-sizing: border-box; float: right; background: #fff; box-shadow: 0 1px 62px rgba(0,0,1,.08); margin: 25px 40px 0 0; line-height: normal;
}
.product-detail .id {
	padding-top: 20px; color: #bebebe; font-weight: 300; text-transform: uppercase;
}
.product-detail .title {
	padding-top: 15px; font-size: 18px; font-weight: 300; text-transform: uppercase;
}
.product-detail .title span {
	font-weight: 800;
}
.product-detail .char {
	position: relative; padding-top: 25px;
}
.product-detail .char:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.product-detail .char > span {
	display: block; float: left; margin-left: 40px; font-weight: 300; text-transform: uppercase;
}
.product-detail .char > span:first-child {
	margin-left: 0;
}
.product-detail .char > span span {
	display: block; font-size: 16px; font-weight: 800; text-transform: none;
}
.product-detail .other {
	padding-top: 15px;
}
.product-detail .other a {
	display: block; width: 258px; height: 37px; line-height: 37px; background: #ece9e5; text-align: center; text-decoration: none; font-weight: 300; text-transform: uppercase;
}
.product-detail .other a:hover {
	background: #3a6fe8; color: #fff;
}
.product-detail .price {
	padding-top: 35px; font-size: 48px; font-weight: 800; line-height: 1;
}
.product-detail .buy {
	position: absolute; right: 40px; bottom: 0px; width: 520px;
}
.product-detail .num {
	position: relative; height: 53px;
}
.product-detail .num a {
	position: relative; display: block; float: left; background: #fff; width: 78px; height: 53px; line-height: 53px; box-shadow: 0 1px 62px rgba(0,0,1,.08); 
	font-size: 24px; font-weight: 800; color: #234db8; text-decoration: none; text-align: center;
}
.product-detail .num a.plus {
	
}
.product-detail .num input[type=text] {
	position: relative; z-index: 5; float: left; width: 139px; height: 53px; border: 0; padding: 0; text-align: center; box-shadow: 0 1px 62px rgba(0,0,1,.08); font-size: 24px; font-weight: 800;
}
.product-detail .buy button {
	position: absolute; right: 0px; bottom: 0px; width: 178px; height: 53px; background-position: 0 -247px; font-size: 16px;
}

.product-size {
	padding-top: 30px; margin-top: 30px;
}
.product-size .title {
	font-size: 24px; font-weight: 800; line-height: 1;
}
.product-size .box {
	position: relative; background: url(../img/product-size-bg.png) no-repeat; width: 1200px; min-height: 300px; padding: 51px 0 0 55px; box-sizing: border-box; margin-top: 30px;
}
.product-size .inner {
	position: relative; background: #fff; padding: 52px 5px 34px 75px; box-shadow: 0 0 16px rgba(0,0,1,.1);
}
.product-size .head {
	position: absolute; left: 75px; right: 5px; top: 20px;
}
.product-size .head:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.product-size .head div {
	float: left; width: 110px; text-align: center; font-weight: 800; line-height: 1;
}
.product-size .side {
	position: absolute; left: 17px; top: 28px; font-weight: 800; line-height: 1;
}
.product-size .side div {
	margin-top: 25px;
}
.product-size ul {
	position: relative; overflow: hidden; padding: 8px 0;
}
.product-size ul li {
	margin: 39px 0 0; padding: 0; height: 1px; background: #ebebeb;
}
.product-size ul li:first-child {
	margin-top: 0;
}
.product-size ul li:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0; width: auto; position: static; background: none;
}
.product-size ul li div {
	position: relative; float: left; width: 110px; height: 1px;
}
.product-size ul li div a {
	position: absolute; left: 50%; margin-left: -7.5px; top: -7px; display: block; width: 15px;
}
.product-size ul li div a:after {
	position: relative; display: block; content: ''; height: 15px; background: url(../img/sprite.png) -650px 0 no-repeat; z-index: 5;
}
.product-size ul li div.active a:after {
	background-position: -670px 0;
}
.product-size ul li div i.l {
	display: block; position: absolute; right: 7.5px; top: 6px; width: 0px; height: 3px; background: #005ffc;
}
.product-size ul li div i.t {
	display: block; position: absolute; bottom: 7.5px; left: 50%; margin-left: -1.5px; width: 3px; height: 0px; background: #005ffc;
}

.product-box {
	padding-top: 70px;
}
.product-box .tab {
	position: relative; font-size: 24px; font-weight: 300;
}
.product-box .tab:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.product-box .tab a {
	display: block; float: left; padding: 0 20px; margin-left: 20px; height: 44px; line-height: 44px; color: #234db8; text-decoration: none;
}
.product-box .tab a:first-child {
	margin-left: 0;
}
.product-box .tab a.active {
	background: #fff; box-shadow: 0 6px 21px 3px rgba(0,0,1,.04); color: #000;
}
.product-box ul {
	padding-top: 30px;
}
.product-box ul li {
	margin: 0 60px 0 0;
}
.product-box ul li:nth-child(4n+4) {
	margin-right: 0;
}
/* end product */


/* inform
------------------------------------------------ */
.inform-promo {
	position: relative; min-width: 1300px; padding: 30px 0 40px; background: #282a30; margin-top: 78px;
}
.inform-promo .subtitle {
	font-size: 30px; color: #fff; font-weight: 300; text-align: center; line-height: 1;
}
.inform-promo ul {
	text-align: center;
}
.inform-promo li {
	position: relative; overflow: hidden; display: inline-block; vertical-align: top; width: 25%; margin: 0; padding: 0;
}
.inform-promo li:after {
	display: none;
}
.inform-promo li .img {
	display: table-cell; width: 999px; height: 236px; vertical-align: middle; text-align: center;
}
.inform-promo li .title {
	font-size: 18px; color: #fff; line-height: 24px; font-weight: 300;
}
.inform-promo li .title span {
	display: block; font-weight: 700;
}

.inform-about {
	padding-top: 135px;
}
.inform-about .subtitle {
	font-size: 30px; font-weight: 300; text-align: center;
}
.inform-about .intro {
	padding: 35px 30px 0; color: #161616; line-height: 30px; text-align: center;
}
.inform-about .line {
	position: relative; margin: 25px auto 0; background: #3a6fe8; width: 294px; height: 1px;
}
.inform-about .box {
	position: relative; padding: 40px 30px 0; line-height: 30px; color: #161616;
}
.inform-about .box:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.inform-about .box .blue {
	color: #3c70e8;
}
.inform-about .box p {
	padding: 0;
}
.inform-about .item {
	width: 390px; float: left; margin-left: 35px;
}
.inform-about .item:first-child {
	margin-left: 0;
}

.inform-qa {
	padding: 0 40px;
}
.inform-qa ul {
	padding-top: 95px;
}
.inform-qa li {
	position: relative; margin: 95px 0 0; padding: 0 0 0 54px;
}
.inform-qa li:after {
	display: none;
}
.inform-qa li .date {
	position: absolute; left: -31px; top: -72px; font-size: 24px; color: #d3d3d3; line-height: 1; text-transform: uppercase; font-weight: 300;
}
.inform-qa li .date > span {
	font-weight: 800;
}
.inform-qa li .date > span span {
	position: relative; display: inline-block; vertical-align: baseline; top: 34px; font-size: 72px;
}
.inform-qa li .entry {
	position: relative; background: #fff; padding: 25px 45px 35px; box-shadow: 13px 9px 18px rgba(0,0,1,.04);
}
.inform-qa li .entry:after {
	display: block; content: ''; background: url(../img/sprite.png) -150px 0 no-repeat; width: 24px; height: 32px; position: absolute; right: 100%; top: 0px;
}
.inform-qa li .name {
	font-size: 24px; font-weight: 800; text-transform: uppercase; line-height: 1;
}
.inform-qa li .text {
	padding: 10px 0 0 40px; font-size: 13px; line-height: 24px;
}
.inform-qa li .answer {
	margin: 34px 0 0 90px;
}
.inform-qa li .answer:after {
	background-position: -180px 0; width: 23px; height: 22px; right: auto; left: 0px; top: auto; bottom: 100%;
}
.inform-qa li .answer .text {
	padding: 10px 0 0 20px;
}

.inform-qa-bt {
	padding-top: 77px; text-align: center;
}

.inform-contact {
	margin: 30px 40px 0;
}
.inform-contact .start {
	position: relative; height: 67px;
}
.inform-contact .start:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.inform-contact .start .item {
	position: relative; background: #fff; float: left; width: 33.333%; height: 67px; line-height: 67px; box-shadow: 13px 9px 92px rgba(0,0,1,.1); 
	font-size: 18px; font-weight: 300; text-align: center; text-transform: uppercase;
}
.inform-contact .start .item:before {
	content: ''; display: inline-block; vertical-align: middle; background: url(../img/sprite.png) -320px 0 no-repeat; width: 24px; height: 26px; margin-right: 10px;
}
.inform-contact .start .item span {
	font-weight: 800;
}
.inform-contact .start .item-phone {
	font-size: 24px;
}
.inform-contact .start .item-mail:before {
	width: 27px; height: 25px; background-position: -350px 0;
}
.inform-contact .start .item-addr:before {
	width: 16px; height: 24px; background-position: -380px 0;
}
.inform-contact .block {
	position: relative; margin-top: 58px;
}
.inform-contact .form {
	position: relative; background: #fff; width: 425px; padding: 40px 48px 34px 85px; box-sizing: border-box; margin-left: auto; box-shadow: 15px 15px 35px rgba(0,0,1,.04);
}
.inform-contact .form .title {
	font-size: 24px; font-weight: 300; line-height: 1;
}
.inform-contact .form .item {
	padding-top: 25px;
}
.inform-contact .form .level {
	font-size: 18px; font-weight: 800; line-height: 1;
}
.inform-contact .form .value {
	padding-top: 10px;
}
.inform-contact .form input[type=text] {
	width: 100%;
}
.inform-contact .form textarea {
	width: 100%; height: 168px;
}
.inform-contact .form .bt {
	padding-top: 36px; text-align: center;
}
.inform-contact .form button {
	background: #e0e0e0; width: 178px;
}
.inform-contact .form button:hover {
	background: url(../img/bt.png)  0 -42px no-repeat;
}
.inform-contact .map {
	position: absolute; left: 0; top: -42px; width: 805px; height: 455px; box-shadow: 15px 15px 35px rgba(0,0,1,.04);
}
.inform-contact .req {
	width: 570px; position: absolute; left: 34px; top: 372px; background: #fff; box-shadow: 13px 9px 18px rgba(0,0,1,.04); padding: 30px 35px 35px; box-sizing: border-box;
}
.inform-contact .req .title {
	font-size: 30px; text-transform: uppercase;
}
.inform-contact .req .text {
	padding: 25px 30px 0; font-size: 16px; font-weight: 300; line-height: 30px;
}
.inform-contact .req .text p {
	padding: 0;
}
/* end inform */


/* news
------------------------------------------------ */
ul.news-list li {
	position: relative; width: 356px; display: inline-block; vertical-align: top; padding: 0; margin: 0; text-align: left;
}
ul.news-list li:after {
	display: none;
}
ul.news-list li .date {
	position: absolute; left: -35px; top: -82px; font-size: 24px; font-weight: 300; color: #d3d3d3; line-height: 1; text-transform: uppercase;
}
ul.news-list li .date > span {
	font-weight: 800;
}
ul.news-list li .date > span span {
	position: relative; display: inline-block; vertical-align: baseline; top: 34px; font-size: 72px;
}
ul.news-list li > a {
	position: relative; z-index: 5; background: #fff; display: block; padding: 25px 25px 30px; box-shadow: 13px 9px 18px rgba(0,0,1,.04); color: #000; text-decoration: none; 
	-webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
    	 -o-transition: all .2s linear;
    		transition: all .2s linear;
}
ul.news-list li .title {
	position: relative; padding-bottom: 6px; display: block; line-height: 30px; font-size: 24px; font-weight: 700;
}
ul.news-list li .title:after {
	display: block; content: ''; background: #000; width: 26px; height: 2px; position: absolute; left: 0px; bottom: 0px;
}
ul.news-list li .text {
	padding-top: 15px; display: block; font-size: 13px; line-height: 24px;
}
ul.news-list li > a:hover {
	background: #3a6fe8; color: #fff;
}
ul.news-list li > a:hover .title:after {
	background: #fff;
}

.news-box {
	padding-top: 115px; text-align: center;
}
.news-box .subtitle {
	font-weight: 300; font-size: 30px;
}
.news-box ul {
	margin-top: 80px;
}
.news-box ul li {
	margin: 0 90px 0 0;
}
.news-box ul li:nth-child(3n+3) {
	margin-right: 0;
}
.news-box .more {
	padding-top: 34px;
}
.news-box .more a {
	display: inline-block; vertical-align: top; background: url(../img/news-box-more.png) no-repeat; width: 178px; height: 42px; line-height: 42px; 
	font-weight: 800; color: #fff; text-decoration: none; text-transform: uppercase;
}

.news-page {

}
.news-page ul {
	padding: 0 0 0 40px;
}
.news-page ul li {
	margin: 100px 90px 0 0;
}
.news-page ul li:nth-child(3n+3) {
	margin-right: 0;
}
.news-page .more {
	padding-top: 57px; text-align: center;
}
.news-page .more a {
	background-position: 0 -42px; width: 178px;
}
/* end news */


/* cabinet
------------------------------------------------ */
.cabinet-tab {
	padding: 30px 40px 0; font-size: 24px; font-weight: 300;
}
.cabinet-tab:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.cabinet-tab a {
	display: block; float: left; margin-left: 45px; padding: 0 20px; height: 44px; line-height: 44px; color: #234db8; text-decoration: none;
}
.cabinet-tab a:first-child {
	margin-left: 0;
}
.cabinet-tab a.active {
	background: #fff; box-shadow: 0 6px 21px 3px rgba(0,0,1,.04); color: #000;
}
.cabinet-tab a span {
	margin-left: 6px; color: #dbdbdb;
}

.cabinet-profile {
	position: relative; margin: 77px 40px 0;
}
.cabinet-profile .title {
	padding-bottom: 20px; font-size: 24px; font-weight: 300;
}
.cabinet-profile .item {
	padding-top: 25px;
}
.cabinet-profile .level {
	font-size: 18px; font-weight: 800;
}
.cabinet-profile .value {
	padding-top: 7px;
}
.cabinet-profile .passw {
	position: relative; margin-left: auto; background: #fff; width: 425px; padding: 40px 48px 50px 86px; box-sizing: border-box; box-shadow: 15px 15px 35px rgba(0,0,1,.04);
}
.cabinet-profile .passw input[type=password] {
	width: 100%;
}
.cabinet-profile .passw .bt {
	padding-top: 45px; text-align: center;
}
.cabinet-profile .passw .bt button {
	background: #e0e0e0; width: 178px;
}
.cabinet-profile .passw .bt button:hover {
	background: url(../img/bt.png) 0 -42px no-repeat;
}
.cabinet-profile .box {
	position: absolute; left: 0; top: -24px; background: #fff; width: 836px; padding: 5px 70px 50px 45px; box-sizing: border-box; box-shadow: 15px 15px 35px rgba(0,0,1,.04);
}
.cabinet-profile .box:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.cabinet-profile .box input[type=text] {
	width: 100%;
}
.cabinet-profile .box textarea {
	width: 100%; height: 160px;
}
.cabinet-profile .box .bt {
	padding-top: 30px; text-align: right;
}
.cabinet-profile .box .bt button {
	background-position: 0 -42px; width: 178px;
}
.cabinet-profile .box .l {
	width: 322px; float: left;
}
.cabinet-profile .box .r {
	width: 322px; float: right;
}

.cabinet-list {
	padding: 0 40px;
}
.cabinet-list .item {
	position: relative; padding: 0 0 0 105px; margin-top: 70px;
}
.cabinet-list .date {
	position: absolute; left: 14px; top: -76px; font-size: 24px; color: #d3d3d3; line-height: 1; text-transform: uppercase; font-weight: 300;
}
.cabinet-list .date > span {
	font-weight: 800;
}
.cabinet-list .date > span span {
	position: relative; top: 34px; display: inline-block; vertical-align: baseline; margin-right: 6px; font-size: 72px;
}
.cabinet-list ul {
	position: relative; z-index: 5;
}
.cabinet-list ul:after {
	content: ''; display: block; width: 2px; position: absolute; right: 100%; margin-right: 17px; top: 47px; bottom: 0px; background: #d3d3d3;
}
.cabinet-list ul li {
	position: relative; padding: 0; margin: 10px 0 0; background: #fff; box-shadow: 15px 15px 35px rgba(0,0,1,.04); line-height: normal;
}
.cabinet-list ul li:first-child {
	margin-top: 0;
}
.cabinet-list ul li:after {
	display: none;
}
.cabinet-list ul li > div {
	display: table-cell; vertical-align: middle; box-sizing: border-box;
}
.cabinet-list ul li .img {
	width: 206px; height: 170px; box-shadow: 15px 15px 35px rgba(0,0,1,.04);
}
.cabinet-list ul li .entry {
	width: 380px; padding: 0 0 0 30px;
}
.cabinet-list ul li .id {
	font-weight: 300; color: #bebebe; text-transform: uppercase;
}
.cabinet-list ul li .title {
	padding-top: 10px; font-size: 18px; font-weight: 300; text-transform: uppercase;
}
.cabinet-list ul li .title a span {
	font-weight: 800;
}
.cabinet-list ul li .char {
	position: relative; padding-top: 15px; font-weight: 300; text-transform: uppercase;
}
.cabinet-list ul li .char:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.cabinet-list ul li .char > span {
	float: left; padding-left: 40px;
}
.cabinet-list ul li .char > span:first-child {
	padding-left: 0;
}
.cabinet-list ul li .char > span span {
	display: block; font-size: 16px; font-weight: 800; text-transform: none;
}
.cabinet-list ul li .num {
	width: 206px; padding-left: 48px; background: url(../img/cabinet-list-sep.png) left center no-repeat;
}
.cabinet-list ul li .num .ttl {
	font-weight: 300; text-transform: uppercase;
}
.cabinet-list ul li .num .box {
	position: relative; height: 23px; padding-top: 7px;
}
.cabinet-list ul li .num input[type=text] {
	float: left; width: 46px; height: 23px; border: 0; font-size: 16px; font-weight: 800; color: #000; text-align: center;
}
.cabinet-list ul li .num a {
	float: left; display: block; width: 33px; height: 23px; background: url(../img/sprite.png) -400px 0 no-repeat; box-shadow: 0 1px 62px rgba(0,0,1,.08);
}
.cabinet-list ul li .num a.plus {
	background-position: -440px 0;
}
.cabinet-list ul li .num .txt {
	font-size: 16px; font-weight: 800;
}
.cabinet-list ul li .price {
	padding-left: 48px; background: url(../img/cabinet-list-sep.png) left center no-repeat;
}
.cabinet-list ul li .price .ttl {
	font-weight: 300; text-transform: uppercase;
}
.cabinet-list ul li .price .box {
	font-weight: 800; font-size: 36px; line-height: 1;
}
.cabinet-list ul li .del {
	display: block; position: absolute; right: -35px; top: 50%; margin-top: -30px; background: #d9d8d7; width: 60px; height: 60px; z-index: 5; 
	color: #fff; text-transform: uppercase; text-decoration: none; white-space: nowrap; font-weight: 800; text-align: right;
}
.cabinet-list ul li .del:after {
	display: block; content: ''; width: 12px; height: 12px; background: url(../img/sprite.png) -480px 0 no-repeat; position: absolute; left: 50%; top: 50%; margin: -6px 0 0 -6px;
}
.cabinet-list ul li .del span {
	display: block; background: #d9d8d7; width: 0px; height: 60px; line-height: 60px; position: absolute; right: 100%; top: 0; overflow: hidden; 
	-webkit-transition: width .1s linear;
       -moz-transition: width .1s linear;
    	 -o-transition: width .1s linear;
    		transition: width .1s linear;
}
.cabinet-list ul li .del:hover span {
	width: 200px;
}
.cabinet-list ul li .re {
	display: block; width: 197px; height: 59px; line-height: 58px; background: url(../img/bt.png) 0 -344px no-repeat; position: absolute; right: -35px; top: 50%; margin-top: -30px; z-index: 5; 
	font-weight: 800; color: #fff; text-transform: uppercase; text-align: center; text-decoration: none;
}
.cabinet-list .total {
	position: relative; margin: 8px 0 0 auto; background: #fff; width: 430px; height: 64px; line-height: 64px; box-shadow: 15px 15px 35px rgba(0,0,1,.04); 
	text-align: center; font-weight: 300; text-transform: uppercase;
}
.cabinet-list .total span {
	display: inline-block; vertical-align: middle; margin-left: 26px; font-size: 36px; font-weight: 800;
}
.cabinet-list .bt {
	margin-top: 25px; text-align: right;
}
.cabinet-list .bt a {
	width: 225px; height: 46px; line-height: 47px; background-position: 0 -168px;
}

.cabinet-cart {

}
.cabinet-cart ul:after {
	display: none;
}

.cabinet-cart-del {

}
.cabinet-cart-del .subtitle {
	padding-left: 105px; font-size: 24px; font-weight: 300;
}
.cabinet-cart-del .item {
	margin-top: 26px;
}
.cabinet-cart-del ul:after {
	display: none;
}
.cabinet-cart-del ul li {
	background: rgba(255, 255, 255, .3);
}
.cabinet-cart-del ul li:after {
	display: block; width: auto; height: auto; position: absolute; left: 0; right: 0; top: 0; bottom: 0; border: 1px solid #db6879; border-radius: 0; background: transparent;
}
.cabinet-cart-del ul li > div {
	opacity: .3;
}

.cabinet-history ul li .entry {
	width: 420px; padding-left: 64px;
}
.cabinet-history .more {
	padding-top: 50px; text-align: center;
}
.cabinet-history .more a {
	
}
/* end cabinet */


/* gallery
------------------------------------------------ */
.gallery-list {
	padding: 0 15px;
}
.gallery-list ul {
	
}
.gallery-list ul li {
	position: relative; display: inline-block; vertical-align: top; width: 280px; margin: 66px 50px 0 0; padding: 0;
}
.gallery-list ul li:first-child, 
.gallery-list ul li:first-child + li, 
.gallery-list ul li:first-child + li + li, 
.gallery-list ul li:first-child + li + li + li {
	margin-top: 30px;
}
.gallery-list ul li:nth-child(4n+4) {
	margin-right: 0;
}
.gallery-list ul li:after {
	display: none;
}
.gallery-list ul li a {
	display: block; text-decoration: none; color: #000; font-weight: 800; text-transform: uppercase; line-height: normal;
}
.gallery-list ul li .img {
	
}
.gallery-list ul li .img img {
	max-width: 100%;
}
.gallery-list ul li .title {
	position: absolute; left: 50%; margin-left: -120px; top: 190px; background: #fff; box-shadow: 0 1px 62px rgba(0,0,1,.08);
	-webkit-transition: all .2s linear;
       -moz-transition: all .2s linear;
    	 -o-transition: all .2s linear;
    		transition: all .2s linear;
}
.gallery-list ul li .title span {
	display: table-cell; width: 240px; height: 80px; vertical-align: middle; padding: 0 20px; box-sizing: border-box;
}
.gallery-list ul li a:hover .title {
	background: #4070e9; color: #fff;
}
.gallery-list .more {
	margin-top: 96px; text-align: center;
}
.gallery-list .more a {
	background-position: 0 -42px; width: 178px;
}
/* end gallery */


/* footer
------------------------------------------------ */
.site-footer {
	position: relative; min-width: 1300px; background: #282a30; margin-top: 110px;
}
.site-footer .wrapper {
	padding-bottom: 62px;
}
.site-footer .wrapper:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.site-footer .l {
	float: left; padding-left: 56px; width: 320px;
}
.site-footer .logo {
	padding-top: 28px;
}
.site-footer .copy {
	padding-top: 35px; font-size: 11px; color: #4a4d55; line-height: 14px;
}
.site-footer .copy p {
	padding: 0;
}
.site-footer .counter {
	padding-top: 35px;
}
.site-footer .menu {
	position: relative; padding-top: 48px; float: left; font-size: 11px; text-transform: uppercase; line-height: normal;
}
.site-footer .menu:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.site-footer .menu ul {
	width: 210px; float: left;
}
.site-footer .menu li {
	margin: 15px 0 0; padding: 0;
}
.site-footer .menu li:after {
	display: none;
}
.site-footer .menu li:first-child {
	margin-top: 0;
}
.site-footer .menu li a {
	color: #fff;
}
.site-footer .phone {
	float: right; padding-top: 40px; text-align: center;
}
.site-footer .phone .title {
	font-size: 12px; color: #404249; line-height: normal;
}
.site-footer .phone .box {
	padding-top: 3px; line-height: 1; font-size: 18px;
}
.site-footer .phone .box a {
	color: #fff; text-decoration: none; font-weight: 300;
}
.site-footer .phone .box span {
	font-weight: 800;
}
.site-footer .dekart {
	position: absolute; right: 0px; bottom: 34px; line-height: 16px; font-size: 12px; color: #3f4249;
}
.site-footer .dekart a {
	position: relative; background: url(../img/dekart.png) no-repeat; padding-left: 22px; margin-left: 2px; font-size: 11px; color: #ff9600; text-transform: uppercase; text-decoration: none;
}
.site-footer .dekart a:after {
	display: block; content: ''; position: absolute; left: 21px; top: 100%; margin-top: 1px; width: 14px; height: 1px; background: #ff9600;
}
/* end footer */


/* ui-dialog
------------------------------------------------ */
.ui-dialog {
	position: absolute !important; z-index: 1000; background: #fff; box-shadow: 13px 9px 92px rgba(0,0,1,.1);
}
.ui-widget-overlay {
	background: rgba(245, 245, 248, .8); position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 1000;
}
.ui-dialog-titlebar {
	position: relative; height: 0; z-index: 5;
}
.ui-dialog-titlebar button {
	position: absolute; right: -33px; top: -21px; background: url(../img/ui-dialog-close.png) no-repeat; width: 144px; height: 42px; padding: 0; box-shadow: 3px 7px 40px rgba(0,0,1,.16);
}
.ui-dialog-titlebar button:hover {
	background-position: 0 -42px;
}
.ui-dialog-titlebar button .ui-button-text {
	display: none;
}
/* end ui-dialog */


/* dialog form
------------------------------------------------ */
.ui-dialog-form {
	
}
.ui-dialog-form .item {
	padding-top: 25px;
}
.ui-dialog-form .level {
	font-size: 18px; font-weight: 800;
}
.ui-dialog-form .value {
	padding-top: 10px;
}
.ui-dialog-form .bt {
	position: relative; margin-top: 33px;
}
.ui-dialog-form .text {
	font-size: 18px; font-weight: 300;
}
.ui-dialog-form .text span {
	font-weight: 800;
}

.dialog-question {
	display: none; padding: 10px 53px 50px 58px;
}
.dialog-question input[type=text] {
	
}
.dialog-question textarea {
	width: 100%; height: 160px;
}
.dialog-question .bt {
	text-align: right;
}
.dialog-question .text {
	position: absolute; left: 0; top: 0; line-height: 42px;
}

.dialog-login {
	display: none; padding: 35px 56px 35px 44px;
}
.dialog-login .title {
	font-size: 36px; font-weight: 800; line-height: 1;
}
.dialog-login .box {
	position: relative; padding-top: 25px;
}
.dialog-login .box:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.dialog-login .item {
	padding-top: 0; float: right;
}
.dialog-login .item:first-child {
	float: left;
}
.dialog-login input[type=text], 
.dialog-login input[type=password] {
	width: 322px;
}
.dialog-login .bt {
	text-align: right;
}
.dialog-login .bt:after {
	content: ''; display: block; clear: both; visibility: hidden; height: 0;
}
.dialog-login .bt button {
	float: right; width: 140px; background-position: 0 -84px;
}
.dialog-login .bt a {
	float: right; background-position: 0 -126px; width: 212px; margin-right: 17px;
}
.dialog-login .bt a:hover {
	background: #3a6fe8;
}
.dialog-login .text {
	position: absolute; left: 0; top: 0; line-height: 42px; font-size: 18px; font-weight: 300;
}
.dialog-login .text .jq-checkbox {
	margin-right: 20px;
}

.dialog-register {
	display: none; padding: 45px;
}
.dialog-register .title {
	padding-bottom: 10px; font-size: 36px; font-weight: 800; line-height: 1;
}
.dialog-register .item {
	padding-top: 20px;
}
.dialog-register input[type=text], 
.dialog-register input[type=password] {
	width: 100%;
}
.dialog-register .bt {
	text-align: center;
}

.dialog-checkout {
	display: none; padding: 0 70px 33px 44px;
}
.dialog-checkout .l {
	width: 322px; float: left;
}
.dialog-checkout .r {
	width: 322px; float: right;
}
.dialog-checkout input[type=text] {
	width: 100%;
}
.dialog-checkout textarea {
	width: 100%; height: 160px;
}
.dialog-checkout .bt {
	margin-top: 15px; text-align: right;
}
.dialog-checkout .text {
	position: absolute; left: 0; top: 0; line-height: 42px;
}
/* end dialog form */


/* dialog thank
------------------------------------------------ */
.ui-dialog-thank .ui-dialog-titlebar {
	display: none;
}

.dialog-thank {
	position: relative; display: none; overflow: hidden; padding: 0 15px 22px; text-align: center;
}
.dialog-thank .text {
	display: table-cell; width: 999px; height: 236px; vertical-align: middle; background: url(../img/ui-dialog-thank-check.png) center center no-repeat; 
	font-size: 24px; font-weight: 800; line-height: 30px; text-align: center;
}
.dialog-thank .bt {
	
}
.dialog-thank .bt a {
	background-position: 0 -42px; width: 178px;
}
/* end dialog thank */